# everything
/*

# folders
!/gradle/wrapper
!/src
/src/main/apis
/src/main/java/mcp
/src/main/java/minetweaker
/src/main/java/stanhebben
/src/main/java/tconstruct

# files
!/.gitignore
!/.gitmodules
!/LICENSE.txt
!/license-header.txt
!/Changelog.txt
!/README.md
!/application.properties
!/build.gradle
!/build.properties
!/gradlew
!/gradlew.bat