# everything
/*

# folders
!/src
!/gradle/wrapper
/src/api/
/src/main/

# files
!/.gitignore
!/.gitmodules
!/LICENSE.txt
!/license-header.txt
!/Changelog.txt
!/README.md
!/application.properties
!/build.gradle
!/build.properties
!/gradlew
!/gradlew.bat