Please help the Modular Machines project by <a href="https://github.com/Nedelosk/Modular-Machines/issues">reporting issues here.</a><br/>
{{#tags}}
    <h3>{{name}}</h3>
    <ul>
        {{#commits}}
            <li>{{{message}}} - {{authorName}}</li>
        {{/commits}}
    </ul>
{{/tags}}